:root {
  --ramp-primary: #e7f256;
  --ramp-light: #dbdacb;
  --ramp-faded: #f4f3ef;

  --text-primary: #3c3c3c;
  --text-secondary: #707063;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
}
