.container {
  width: 100dvw;
  height: 100dvh;
  padding: 128px;

  >.header {
    margin-bottom: 32px;

    >.rootLink {
      text-decoration: none;
      color: var(--text-primary);

      &:hover {
        cursor: pointer;
      }
    }
  }

  p {
    margin: 0;
  }

  .links {
    display: flex;
    gap: 12px;

    >a {
      color: var(--text-secondary);
    }
  }
}
