.container {
  width: 100dvw;
  height: 100dvh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  ::selection {
    color: var(--text-primary);
    background: #e7f256;
  }
}
