.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;

  >h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-primary);
  }

  >.until {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 400;

    >p {
      display: inline;
      color: var(--text-secondary);
    }

    >select {
      height: 48px;
      padding: 8px 12px;
      border: var(--ramp-light) 1px solid;
      border-radius: 0;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      color: var(--text-secondary);
      background: white;
      transition: border 0.3s;

      &:hover {
        border-bottom: var(--text-secondary) 1px solid;
      }

      &:focus {
        outline: none;
        border-color: var(--text-secondary);
      }
    }
  }
}
